.mainProducto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(41, 41, 41, 0.897);
    height: 100vh;
}

.fotoinfo {
    width: 100%;
}

.megusta {
    border: solid red;
    color: red;
    cursor: pointer;
    background: linear-gradient(to right, transparent 50%, red 50%);
    background-size: 200%;
    background-position: left;
    transition: background-position 0, 5s;
}

.megusta:hover {
    background-position: right;
    color: black;
    font-weight: 700;
}

.tituloYInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloYInfo div {
    display: flex;

}

.tituloYInfo h2 {
    color: rgb(172, 184, 195);
}

.tablaInfo {
    display: flex;
    flex-direction: column;
    border: solid 4px black;
    background-color: rgba(8, 8, 8, 0.897);
    color: rgb(172, 184, 195);
    width: 100%;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.tablaInfo div {
    margin: 10px;
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    
    font-weight: 800;

}

.tablaInfo div p {
    text-decoration: underline;
    height: fit-content;
    padding-top: 9px;

}

.whatsapp {
    display: flex;
    align-items: center;
    padding: 10px;
}

.whatsapp h3 {
    padding: 10px;
    color: #00cc66;
    font-size: 500;
}

.semper {
    width: 300px;
}

@keyframes gradiente {
    0% {
        background-position: 0 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.fotoProd {
    width:300px;
    
    
}

.itemCount {
    display: flex;


}

.itemCount div {
    display: flex;
}

.itemCount Button {
    font-weight: 900;
}

.compra {
    display: flex;
    justify-content: center;
    text-align: center;
}

.compra Button {
    font-weight: 900;
    display: flex;
    justify-content: center;
    text-align: center;
}
@media screen and (max-width: 585px) {
    .fotoinfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tablaInfo div{
        display: flex;
    
        justify-content: center;
        align-items: center;
    }
    .fotoProd{
        width: 250px;
        height: 250px;
     }
     .mainProducto{
        height: 150vh;
     }
}
@media screen and (max-width: 330px) {
 .fotoProd{
    width: 200px;
    height: 250px;
 }
 .fotoinfo{
    width: 250px;
 }
 .itemCount Button {
    font-weight: 700;
    font-size: 10px;
}
.tituloYInfo h2{
    font-size: 20px;
}
.whatsapp h3{
    font-size: 15px;
}
}