


.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgba(8, 8, 8, 0.897);
    font-weight: 900;
}

.navBar div {
    color: #c9400a;
    font-size: 20px;
    font-weight: 900;
    display: flex;
}
.listaNav{
    display: flex;
    list-style: none;
    
}
.listaNav li {
    margin: 5px;
    font-weight: 800;
    text-transform: uppercase;
} 
.listaNav li a {
    /* color: #c9400a; */
    text-decoration: none;
    text-shadow: 2px 2px 2px red;
}
.listaNav li a:hover {
    color: red;
    transform: scale(1.1);
}
.active{
    color: #c9400a;
}
.inactive{
    color: yellow;
}
.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 2px 2px 2px red;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1023px) {
    .navBar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 353px) {
.listaNav{
    flex-direction: column;
}
}
@media screen and (max-width: 330px) {
    .listaNav li a{
        font-size: 15px;
    }
    .navBar{
        flex-direction: column;
    }
}